<div id="home" class="cyber-background">
    <div class="top-menu">
        <div>
            <a ng-click="scrollTo('home')">Home</a>
        </div>
        <div>
            <a ng-click="scrollTo('about')">About</a>
        </div>
        <div>
            <a ng-click="scrollTo('result')">Result</a>
        </div>
        <div>
            <a ng-click="scrollTo('contact')">Contact</a>
        </div>
        <div>
            <a ng-click="backToMain()">Back</a>
        </div>
    </div>
    <img src="/Content/img/main-page/cyber-bg.png" />
</div>

<div id="about" class="about">
    <div class="container">
        <div class="row headine">
            <h1>About</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 text">
                <div class="border-top">
                    Esi Pirmais eSports is a multigaming organisation, currently supporting squads in CS:GO and
                    PUBG disciplines. CS:GO crew was founded in October 2017. Since then, the team has established
                    itself as one of the best in Latvia. PUBG crew was founded in January 2019 and is taking part in
                    various Baltic, CIS and European top leagues. For more info visit our social media.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stream-match" id="result">
    <img src="~/Content/img/main-page/cyber-bg2.jpg" />
</div>

<div id="contact" class="contact black">
    <div class="container">
        <div class="row" fadeIn animated>
            <div class="col">
                <i class="material-icons">
                    location_on
                </i>
                <b>Daugavpils, Latvia</b>
            </div>
            <div class="col">
                <i class="material-icons">
                    local_post_office
                </i>
                <b>esipirmais.live@gmail.com</b>
            </div>
            <div class="col">
                <i class="material-icons">
                    phone
                </i>
                <b>+371 23070919, Alexander</b>
            </div>
        </div>
        <div class="cop fadeIn animated" layout="row" layout-align="center end">
            © Copyright 2019 ESI PIRMAIS ESPORTS. All rights reserved.
        </div>
        <div class="soc fadeIn animated" layout="row" layout-align="center end">
            <a href="https://vk.com/esi_pirmais_esports">
                <img src="~/Content/img/main-page/v-w.png" />
            </a>
            <a href="https://www.facebook.com/EsiPirmaisEsports/">
                <img src="~/Content/img/main-page/f-w.png" />
            </a>
            <a href="https://www.instagram.com/esi_pirmais_esports/">
                <img src="~/Content/img/main-page/i-w.png" />
            </a>
            <a href="https://www.youtube.com/channel/UCtqbwd_ewz-weLTXLaAuO_A">
                <img src="~/Content/img/main-page/y-w.png" />
            </a>
            <a href="https://twitter.com/EsiPirmaisCSGO">
                <img src="~/Content/img/main-page/t-w.png" />
            </a>
        </div>
    </div>
</div>