<div class="background-mainpage">
    <div class="main-size" layout-gt-xs="row" layout-xs="column" layout-align="center center">
        <div layout="column" class="m-ep-title main-btn text-center">
            <div>
                <b>ESI PIRMAIS</b>
            </div>
            <div>
                SAVĀ SPORTA VEIDĀ
            </div>
            <div layout-gt-xs="row" layout-xs="column" layout-align="center center">
                <md-button class="md-raised md-primary md-hue-1" ng-click="social()">Sports</md-button>
                <md-button class="md-raised" ng-click="cyber()">eSports</md-button>
            </div>
        </div>
    </div>
</div>
<div class="success">
    <div class="container fadeIn animated">
        <div class="row" layout-align="center">
            <div class="col-12 col-md-4 item">
                <b>23</b>
                <span>Pasākumi</span>
            </div>
            <div class="col-12 col-md-4 item">
                <b>500+</b>
                <span>Dalibnieki</span>
            </div>
            <div class="col-12 col-md-4 item">
                <b>3</b>
                <span>gadu pieredze</span>
            </div>
        </div>
    </div>
</div>
<div class="future-event"></div>
<div class="supports">
    <div class="container">
        <div class="row fadeIn animated">
            <div class="col">
                Mēs strādājam ar
            </div>
        </div>
        <div class="row">
            <div class="col fadeIn animated">
                <img src="~/Content/img/main-page/chili.png" />
            </div>
            <div class="col fadeIn animated">
                <img src="~/Content/img/main-page/dome.png" />
            </div>
            <div class="col fadeIn animated">
                <img src="~/Content/img/main-page/dfa.png" />
            </div>
        </div>
        <div class="row">
            <div class="col fadeIn animated">
                <img src="~/Content/img/main-page/ziegler.png" />
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="contact">
    <div class="container">
        <div class="row" fadeIn animated>
            <div class="col">
                <i class="material-icons">
                    location_on
                </i>
                <b>Daugavpils, Latvia</b>
            </div>
            <div class="col">
                <i class="material-icons">
                    local_post_office
                </i>
                <b>esipirmais.live@gmail.com</b>
            </div>
            <div class="col">
                <i class="material-icons">
                    phone
                </i>
                <b>+371 29204761</b>
            </div>
        </div>
        <div class="cop fadeIn animated" layout="row" layout-align="center end">
                © Copyright 2019 ESI PIRMAIS. All rights reserved.
        </div>
        <div class="soc fadeIn animated" layout="row" layout-align="center end">
            <a href="https://vk.com/esi_pirmais">
                <img src="~/Content/img/main-page/v.png" />
            </a>
            <a href="https://www.facebook.com/esipirmaislv/">
                <img src="~/Content/img/main-page/f.png" />
            </a>
            <a href="https://www.instagram.com/esipirmais/">
                <img src="~/Content/img/main-page/i.png" />
            </a>
            <a href="https://www.youtube.com/channel/UCtqbwd_ewz-weLTXLaAuO_A">
                <img src="~/Content/img/main-page/y.png" />
            </a>
        </div>
    </div>
</div>