<div ng-app="OneC" ng-controller="mainCtrl" class="container" ng-cloak>
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 text-center">Tables</h2>
            <md-button ng-click="createCatalog()" class="md-primary md-raised m-0 mb-5">Create a Table</md-button>
        </div>
    </div>
    <div class="row" ng-repeat="table in tables">
        <div class="col-12">
            <table class="table table-bordered">
                <tr>
                    <td rowspan="{{$index === 0 && table.doubleRowSpan ? 2 : 1}}" 
                        class="text-center"
                        ng-repeat="column in table.Columns" 
                        colspan="{{ column.ChildColumns.length }}" 
                        ng-bind="column.Name"></td>
                    <td class="text-center" rowspan="2">
                        <md-icon ng-click="addColumn(table.Columns[0].Id, 0)" class="pointer text-success" md-font-library="material-icons">add</md-icon>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="childColumn in table.childColumns" class="text-center">
                        {{ childColumn.Name }}
                        <md-icon ng-if="childColumn.ShowAdd" ng-click="addColumn(childColumn.TableId, childColumn.ParentId)" class="pointer text-success" md-font-library="material-icons">add</md-icon>
                    </td>
                </tr>
                <tr ng-repeat="row in table.Rows">
                    <td ng-repeat="rowItem in row.RowItems">
                        <div ng-repeat="item in rowItem.Values" ng-mouseover="showIcons = true" ng-mouseleave="showIcons = false">
                            {{ item.Value }}
                            <span ng-show="showIcons">
                                <md-icon ng-if="$parent.$index !== 0" ng-click="deleteValue(item.Id)" class="pointer text-danger" md-font-library="material-icons">delete</md-icon>
                                <md-icon ng-click="editValue(item.Id, item.Value, row.RowId, rowItem.ColumnId)" class="pointer text-primary" md-font-library="material-icons">create</md-icon>
                            </span>
                        </div>
                        <md-icon ng-if="$index !== 0" ng-click="addValue(row.RowId, rowItem.ColumnId)" class="pointer text-success" md-font-library="material-icons">add</md-icon>
                    </td>
                    <td class="text-center">
                        <md-icon ng-click="deleteRow(row.RowId)" class="pointer text-danger" md-font-library="material-icons">delete</md-icon> 
                    </td>
                </tr>
                <tr>
                    <td colspan="{{table.childColumns.length + 2}}" class="text-center">
                        <md-button ng-click="addRow(table.Columns[0].TableId)" class="md-primary md-raised">Add Data Row</md-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>