<div ng-app="OneC" ng-controller="mainCtrl" class="container" ng-cloak>
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 text-center">Catalogs</h2>
            <md-button ng-click="createCatalog()" class="md-primary md-raised m-0 mb-5">Create Catalog</md-button>
        </div>
    </div>
    <div class="row" ng-repeat="table in tables">
        <div class="col-12">
            <table class="table table-bordered">
                <tr>
                    <td ng-repeat="column in table.Columns" ng-bind="column.Name"></td>
                </tr>
            </table>
        </div>
    </div>
</div>