@section CSS{ <link href="~/Content/css/main.css" rel="stylesheet" /> }

<div class="background" ng-app="EP.User" ng-controller="userCtrl" ng-cloak>
    <div class="full-size" layout-gt-xs="row" layout-xs="column" layout-align="center center">
        <div layout="column">
            <div class="reset-password">
                @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { name = "resetForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="token" value="@Request.Params["token"]" />
                    <md-input-container>
                        <label>Parole</label>
                        <input type="password" name="password" ng-model="userData.Password" ng-minlength="8" required />
                        <div ng-messages="resetForm.password.$error">
                            <div ng-message="minlength">Jūsu parole ir pārāk īsa</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Parole vēl reiz</label>
                        <input type="password" name="rePassword" ng-model="userData.RePassword" ng-minlength="8" required />
                    </md-input-container>
                    <div class="text-center">
                        <input class="md-primary md-button" ng-disabled="resetForm.$invalid || userData.Password !== userData.RePassword" type="submit" value="Nosutīt" />
                    </div>
                }
            </div>
        </div>
    </div>   
</div>

@section JS { @Scripts.Render("~/Bundles/user") }