<div class="informer" ng-cloak>
    <md-toolbar class="informer-name">Pēdējais Turnīrs</md-toolbar>
    <md-content class="informer-content" layout="column" ng-if="!informerLoading">
            <div class="col-12 tournament-informer">
                <div class="row">
                    <div class="col-2">
                        <img ng-src="{{informer.tournament.Discipline === disciplines.football ? '/Content/img/disciplines/football.svg' : '/Content/img/disciplines/basketball.svg'}}" />
                    </div>
                    <div class="col-10" ng-bind="informer.tournament.Title"></div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <i class="material-icons">calendar_today</i>
                    </div>
                    <div class="col-10">
                        Datums: <b ng-bind="informer.tournament.Date"></b>
                    </div>
                    <div class="col-2">
                        <i class="material-icons">payment</i>
                    </div>
                    <div class="col-10">
                        Dalības maksa: <b ng-bind="informer.tournament.Fee"></b>
                    </div>
                    <div class="col-2">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="col-10">
                        Dalībnieki: {{ informer.tournament.TeamCount }} / <b ng-bind="informer.tournament.MaxTeamCount"></b>
                    </div>
                </div>
            </div>            
        <a class="md-flat md-button tournament-informer" href="/Tournament?Id={{informer.tournament.Id}}">Pievienot komandu</a>
    </md-content>
    <md-content class="informer-content justify-content-center" layout="column" ng-if="informerLoading">
        <div class="row no-item justify-content-center">
            <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
        </div>
    </md-content>
</div>

<div class="informer" ng-cloak>
    <md-toolbar class="informer-name">Pēdējās Komandas</md-toolbar>
    <md-content class="informer-content" layout="column" ng-if="!informerLoading">
        <div class="col-12">
            <div ng-repeat="lastTeam in informer.lastTeams" class="row page-item">
                <div class="col-2 mob-logo">
                    <img ng-src="{{ lastTeam.LogoUrl }}" />
                </div>
                <div class="col-8 align-self-center">{{ lastTeam.Name }}</div>
                <div class="col-2 align-self-center">
                    <i ng-click="getTeamById(lastTeam.Id)" class="material-icons">remove_red_eye</i>
                </div>
            </div>
        </div>
        <div class="col-12 text-center" ng-if="informer.lastTeams.length === 0">
            Nav Komandas
        </div>
        <a class="md-flat md-button tournament-informer" href="/Team">Izveidot savu komandu</a>
    </md-content>
    <md-content class="informer-content" layout="column" ng-if="informerLoading">
        <div class="row no-item justify-content-center">
            <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
        </div>
    </md-content>
</div>