<div class="default-whiteframe">
    <div class="default-blueframe">
        <md-button ng-click="backToProfile()" class="back">
            <i class="material-icons">
                keyboard_backspace
            </i>
        </md-button>
        <div class="title">Nomainīt Parole</div>
    </div>
    <div class="col-12">
        @if (Model.IsOwner && Model.IsActive)
        {
            <div layout="column" layout-align="center center" id="user-info">
                <md-input-container>
                    <label>Vecā parole</label>
                    <input tabindex="1" name="oldPassword" type="password" ng-model="userData.oldPassword" min-length="8" required />
                </md-input-container>
                <md-input-container>
                    <label>Jauna parole</label>
                    <input tabindex="1" name="newPassword" type="password" ng-model="userData.newPassword" min-length="8" required />
                </md-input-container>
                <md-input-container>
                    <label>Jauna parole vēl reiz</label>
                    <input tabindex="1" name="repeatNewPassword" type="password" ng-model="userData.newPasswordRepeat" min-length="8" required />
                </md-input-container>
                <md-button class="md-raised md-primary" ng-disabled="checkChangePassword()" ng-click="actionChangePassword()">Apstiprināt</md-button>
            </div>
        }
        else
        {
            <div class="no-item">
                Jums nav piekļuves pie šīs lapas.
            </div>
        }
    </div>
</div>