@using EP.BusinessLogic.Models
@model Result

@section CSS { @Styles.Render("~/Content/user") }

<md-content ng-app="EP.User" ng-controller="userCtrl" ng-cloak>
    <md-toolbar id="header">Aktivācija</md-toolbar>
    <md-content class="container">
        <div class="col-12" ng-cloak>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="default-whiteframe">
                        <div class="default-blueframe">
                            Aktivācija
                        </div>
                        <div class="row justify-content-center">
                            @if (Model.IsSuccess)
                            {
                                <div class="col-12 no-item">
                                    Jūsu profils jau ir aktīvs!
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-md-5 no-item">
                                    <div>
                                        Uz jūsu e-pastu tika nosūtīts aktivācijas kods.
                                    </div>
                                    <div>
                                        <md-input-container class="active-input text-left">
                                            <label>Kods</label>
                                            <input name="kods" ng-model="kods" required />
                                        </md-input-container>
                                    </div>
                                    <div>
                                        <md-button class="md-raised md-primary" ng-disabled="kods.length < 5" ng-click="activateUser()">Apstiprināt</md-button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 right-side-n" ng-controller="mainCtrl">
                    @Html.Partial("_RightSide")
                </div>
            </div>
        </div>
    </md-content>
</md-content>

@section JS { @Scripts.Render("~/Bundles/user") }