body #outside {
    background-color: #000;
    color: #FFF;
}

.background {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
}

.login-page {
    background-image: url(/Content/img/bg.jpg);
    background-size: cover;
    background-position: 50%;
}

.ep-white {
    width: 190px;
    height: 190px;
    background-image: url("/Content/img/ep-white.png");
    background-size: cover;
    margin: 0 auto;
}

.main-btn .md-raised.md-primary {
    margin-bottom: 15px;
}

.grey-right {
    padding: 25px 25px 25px 0px;
    border-right: 1px solid grey;
}

.main-text {
    text-shadow: 2px 2px 4px #000;
    margin-left: 20px;
}

.main-text h1 {
    line-height: 1;
    color: #1976d2;
    font-size: 62px;
    font-weight: 700;
    margin: 20px 0px;   
}

.main-text h2 {
    font-size: 20px;
}

.main-text i {
    color: #1976d2;
    font-size: 35px;
    vertical-align: middle;
}

.main-text p {
    margin: 0px;
    font-size: 20px;
    line-height: 2.2;
}

md-input-container.md-esi-pirmais-theme {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .grey-right {
        padding: 0px;
        border-right: 0;
        border-bottom: 1px solid grey;        
    }

    .md-raised:last-child {
        margin-bottom: 20px;
    }

    .main-text {
        margin: 0px;
    }

    .ep-white {
        margin-left: 10%;
    }

    .main-text h1, h2, p {
        text-align: center;
    }
}

.background-mainpage {
    background-image: url("/Content/img/main-bg.jpg");
    background-size: cover;
    background-position: 50%;
}

.m-ep-title {
    text-shadow: 2px 2px 4px #000;
    font-size: 50px;
}

.m-ep-title b {
    font-size: 85px;
    color: rgb(25,118,210);   
}

.m-ep-title.main-btn .md-button.md-raised {
    font-weight: normal;
    margin: 35px 10px 0;
}

.success {
    background-color: #000;
    padding: 150px 0 300px;
}

.success b {
    font-weight: bold;
    font-size: 80px;
    display: block;
}

.success span {
    font-size: 20px;
    text-transform: uppercase;
}

.supports .col,
.success .item {
    text-align: center;
    margin-bottom: 70px;
}

.supports img {
    vertical-align: middle;
    max-width: 300px;
}

@media (max-width: 600px) {
    .supports .col:first-child {
        font-size: 51px;
    }
}

.supports {
    background-color: #EEF2F6;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 70px;
    padding: 60px 0 30px;
    text-align: center;    
}

.supports .row:first-child {
    padding-bottom: 150px;
}

.contact {
    background-color: #EEF2F6;
    color: #4F5262;
    padding: 60px 0 10px;
    text-align: center;
}

.contact b {
    display: block;
    font-size: 20px;
}

.contact i {
    font-size: 50px;
}

.cop {
    padding-top: 120px;
    font-size: 13px;
    color: #69727C;
}

.soc {
    padding-top: 50px
}

.soc img {
    color: #464A58;
    font-size: 25px;
}

.soc a {
    margin-left: 35px;
}

.soc a:first-child {
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.stream-match,
.cyber-background {
    position: relative;
}

.stream-match img,
.cyber-background img {
    width: 100%;
}

.stream-match::after,
.cyber-background::after {   
    position: absolute;
    top: 0;
    left: 0;
}

.top-menu {
    position: absolute;
    top: 0;
    right: 20px;
}

.top-menu div {
    display: inline-block;
    text-transform: uppercase;
    padding: 35px 45px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.top-menu a {    
    text-decoration: none;
}

.black {
    background-color: #000;
}

.black,
.top-menu a,
.black .cop {
    color: #FFF;
}

.about {
    padding: 150px 0;
}

.about h1 {
    margin: 0 auto 50px;
    font-size: 35px;
}

.about .text {    
    font-size: 25px;
    line-height: 40px;
}

.about .border-top {
    border-top: 2px solid #FFF;
    padding-top: 50px;
}

#result.row {
    padding-top: 100px;
}

.btn-back {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
}

.btn-back:hover {
    cursor: pointer;
}

button.md-raised.md-accent.md-button.md-esi-pirmais-theme.md-ink-ripple.gray {
    background-color: dimgray;
}

button.md-raised.md-accent.md-button.md-esi-pirmais-theme.md-ink-ripple.gray:hover {
    background-color: darkgray;
}

.reset-password {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

input.md-button.md-primary {
    background-color: rgb(25,118,210);
    cursor: pointer;
    margin: 0 auto;
}

input.md-button.md-primary[disabled] {
    background-color: lightgray;
    cursor: default;
}

.future-event {
    background-image: url('/Content/img/main-page/future-event.jpg');
    height: 1400px;
    background-position: center;
    background-size: contain;
}

@media only screen and (max-width: 760px) {
    .top-menu div {
        display: inline-block;
        text-transform: uppercase;
        padding: 20px 10px 0;
        font-weight: bold;
        font-size: 11px;
    }

    .about .text {
        font-size: 17px;
        line-height: 28px;
    }

    .about h1 {
        margin: 0 auto 50px;
        font-size: 25px;
    }

    .about {
        padding: 50px 0;
    }

    .contact .row .col {
        margin-bottom: 55px;
    }

    .success {
        padding: 150px 0;
    }

    .supports .row:first-child {
        padding-bottom: 60px;
    }

    .future-event {
        height: 270px;
    }

    md-dialog {
        min-width: 100%;
    }

    md-dialog .md-button {
        width: 90%;
    }

    md-dialog-actions {
        padding-top: 10px
    }

    md-dialog md-dialog-actions .md-button.md-raised {
        margin: 5px 0;
    }

    md-dialog-actions .md-primary {
        order: 1;
    }

    md-dialog-actions .md-warn {
        order: 2;
    }

    md-dialog-actions .md-accent {
        order: 3;
    }
}