html, body,
.full-size {
    width: 100%;
    min-height: 100%;
}

.main-size {
    padding: 20% 0;
    width: 100%;
}

*:focus {
    outline: none;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.ep-white-inside {
    width: 200px;
    height: 200px;
    background-image: url("/Content/img/ep-white-inside.png");
    background-size: cover;
    margin: 10px auto 0px;
}

body #inside {
    background-color: #F5F5F5;
    color: #000;
}

.wait-modal md-dialog {
    box-shadow: none;
    background: transparent;
    overflow: unset;
}

.modal-window {
    width: 450px;
}

#left-menu {
    background-color: #2F363E;
    height: 100%;
    min-height: max-content;
    overflow: unset;
}

#left-menu a {
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
}

#left-menu i {
    vertical-align: bottom;
    padding-right: 5px;
}

#left-menu a div {
    padding: 15px;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}

#requestsCount {
    position: absolute;
    top: 17px;
    right: 35px;
}

#left-menu a div:hover {
    cursor: pointer;
    background: #313a42;
}

#left-menu img {
    vertical-align: bottom;
    padding-right: 5px;
    width: 30px;
    height: 27px;
}

md-content {
    overflow: inherit;
}

md-content.md-esi-pirmais-theme {
    background-color: #F5F5F5;
    padding-bottom: 5px;
}

#header {
    background-color: #1F70A8;
    min-height: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14);
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    font-weight: 500;
}

.main-block {
    margin-bottom: 20px;
}

.main-btn .md-raised {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    width: 200px;
    border-radius: 19px;
    padding: 6px;
    font-size: 13pt;
}

.action-icon {
    font-size: 40px;
    color: rgb(25,118,210);
}

.action-icon:hover {
    cursor: pointer;
}

.action-icon:focus {
    outline: 0px;
}

.flex-offset-right-5 {
    margin-right: 5%;
}

md-tabs.md-esi-pirmais-theme md-ink-bar {
    background-color: rgb(31,112,168);
    color: rgb(31,112,168);
}

md-tab-content {
    transform: none;
    transition: none;
}

i.material-icons:hover {
    cursor: pointer;
}

a.material-icons {
    text-decoration: none;
    color: #000;
}

i.danger {
    color: red;
}

i.accept {
    color: green;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1440px;
    }    
}

/*RIGHT SIDE BLOCK*/

.informer {
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 35px;
    font-size: 14px;
}

@media (max-width: 990px) {
    .informer {
        display: none;
    }
}

md-toolbar.informer-name {
    min-height: 15px;
    padding: 9px;
    font-size: 15px;
    text-transform: uppercase;
}

.informer md-content.informer-content {
    background-color: #FFF;
    padding: 7px 0 0;
}

md-toolbar.md-esi-pirmais-theme.informer-details {
    background-color: #E8E8E8;
    color: #000;
    min-height: 10px;
    font-size: 11pt;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

md-toolbar.md-esi-pirmais-theme.informer-details a {
    color: #000;
    text-decoration: underline;
}

@media (min-width: 1600px) {
    .col-lg-4.right-side-n,
    .col-lg-4.right-side {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 1680px) {
    .col-lg-4.right-side-n,
    .col-lg-4.right-side {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/*RIGHT SIDE BLOCK*/

.default-whiteframe {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.default-whiteframe > .default-blueframe {
    text-transform: uppercase;
    background-color: #1F70A8;
    color: #FFF;
    font-size: 15px;
    padding: 10px;
    position: relative;
}

.default-blueframe .md-button {
    position: absolute;
    top: 0;
    min-width: 45px;
    margin: 0 0 0 -10px;
    padding: 0;
    min-height: 38px;
    line-height: 0px;
}

.default-blueframe .title {
    margin-left: 40px;
}

.default-whiteframe md-progress-circular {
    margin: 15px 0;
}

.p0 {
    padding: 0;
}

.mt30 {
    margin-top: 30px;
}

.mobile-menu {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    height: 44px;
    color: #FFF;
    z-index: 3;
}

#left-menu a.disabled-link div {
    color: #808080;
}

#left-menu a.disabled-link div:hover {
    cursor: default;
}

@media (min-width: 1280px) {
    .mobile-menu {
        display: none;
    }
}

.page-item {
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}

.page-item:last-child {
    border-bottom: 0;
}

.page-item:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

.no-item {
    padding: 7px;
    justify-content: center;
    text-align: center;
}

.no-item.text-right {
    text-align: right;
}

.no-item.border-top {
    border-top: 1px solid #DDD;
}

.informer .page-item {
    padding: 5px 7px;
}

.informer .page-item img {
    height: 30px;
    margin-top: 1px;
    margin-bottom: -3px;
}

.informer .page-item .col-2:last-child {
    margin-bottom: -5px;
}

#left-menu .active {
    background-color: #313A42;
    border-right: 4px solid #1F70A8;
}

.alert-header {
    background-color: #F83D0A;
    min-height: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14);
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.alert-header a {
    color: #000;
}

md-input-container.active-input {
    margin-bottom: 0;
}

.pointer {
    cursor: pointer;
}

md-content.container {
    padding: 10px 0;
}

.default-item {
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.default-item:last-child {
    border-bottom: 0;
}

.default-item img {
    height: 30px;
    margin-top: 1px;
    margin-bottom: -3px;
}

.ptb20 {
    padding: 20px 0;
}

.informer-tournament-button {
    max-width: 160px;
    cursor: pointer;
    margin: 30px auto 0;
}

.mob-logo {
    padding: 0;
    text-align: center;
}

.default-item .mob-logo {
    text-align: left;
}

.default-item .mob-logo.text-center {
    text-align: center;
}

.tournament-informer .row div {
    padding: 0;
    align-self: center;
}

.tournament-informer .row div:nth-child(odd) {
    text-align: center;
}

.tournament-informer .row:last-child {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tournament-informer .row:first-child img {
    width: 30px;
}

.tournament-informer .row:first-child div:last-child {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.tournament-informer.md-button {
    margin: 0;
    font-weight: bold;
    border-top: 1px solid #000;
}

@media only screen and (max-width: 500px) {
    .default-item > .col-1:first-child {
        padding-left: 5px;
    }

    .alert-header {
        padding-left: 35px;
    }
}

@media only screen and (max-width: 760px) {
    .page-item {
        font-size: 13px;
    }

    .default-item img {
        height: 24px;
    }

    .team-info {
        padding: 0 15px;
    }
}