.alert {
    color: #856404;
    width: 100%;
    position: relative;
    padding: 12px 10px;
}

.alert button {
    position: absolute;
    right: -30px;
    top: -3px;
}

.team-logo {
    width: 200px;
    height: 200px;
    margin: 5px auto;
}

.team-info {
    height: 100%;
}

.team-info > div:nth-child(odd) {
    font-weight: 600;
    line-height: 20px;
    margin: 7px 0;
}

.team-info > div:nth-child(even) {
    line-height: 20px;
    margin: 7px 0;
}

.team-info a {
    vertical-align: bottom;
    margin-top: -5px;
    margin-left: 5px;
}

#columnchart {
    width: 100%;
    height: 500px;
    max-width: 100%;
    padding: 25px 0;
}

@media (max-width: 500px) {
    .alert {
        font-size: 14px;
    }

    .team-info div {
        padding: 0;
        font-size: 15px;
    }

    #columnchart {
        height: 300px;
    }
}