.tournament-active img {
    width: 100px;
    height: 135px;
    border-radius: 20%;
    padding: 10px 0px;
}

.tournament-active.horizontal img {
    width: 100%;
    border-radius: 10px;
    padding: 5px 0px;
}

.tournament-active .tournament-name {
    font-size: 18px;
    margin: 10px 0 15px;
    text-transform: uppercase;
}

.tournament-active i:hover {
    cursor: default;
}

.tournament-active i.pointer:hover {
    cursor: pointer;
}

.tournament-poster {
    width: 205px;
    height: 300px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tournament-info > div:nth-child(odd) {
    font-weight: 600;
    line-height: 20px;
    margin: 7px 0;
}

.tournament-info > div:nth-child(even) {
    line-height: 20px;
    margin: 7px 0;
}

.tournament-info a {
    color: #000;
}

.participant-header {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 30px;
    text-align: center;
}

.team-card .team-name {
    padding: 5px 0;
    border-top: 3px solid red;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.team-card .team-logo {
    width: 100%;
    height: 200px;
    margin: 15px auto 0;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.team-card .team-name.is-paid {
    border-top: 3px solid green;
}

.tournament-poster.horizontal {
    width: 100%;
    height: 500px;
    margin: 5px auto 15px;
}

.result-table {
    padding-bottom: 30px;
}

.result-table .row {
    padding: 5px 0;
    border-bottom: 1px solid #DDD;
}

.result-table .row:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

.result-table .row div {
    align-self: center;
}

.result-table .row div:first-child,
.result-table .row div:last-child {
    text-align: center;
    font-weight: bold;
}

.result-table .row img {
    height: 25px;
    margin-bottom: -3px;
}

.tournament-active .row .row div {
    padding: 0;
    align-items: center;
}

.team-roster {
    position: absolute;
    top: 15px;
    left: 20%;
    display: none;
}

@media only screen and (max-width: 600px) {
    .col-0 {
        display: none;
    }

    .tournament-poster.horizontal {
        height: 300px;
    }

    .tournament-poster {
        margin: 0 auto;
    }

    .result-table .row,
    .match-item {
        font-size: 13px;
    }

    .material-icons {
        font-size: 16px;
    }

    .tournament-active .row .row div {
        padding: 0 15px;
    }
}
