.profile-section-title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0 20px;
    text-align: center;
}

.user-inside .row {
    margin-bottom: 18px;
}

.user-inside .row div:first-child {
    padding-left: 30px;
    color: #828282;
}

#user-info md-input-container,
#user-info md-datepicker {
    margin: 15px 0;
    min-width: 200px;
    max-height: 30px;
}

#user-info md-input-container:first-child {
    margin-top: 30px;    
}

#user-info md-input-container.inside-select:first-child {
    margin-top: 0;
}

#user-info .main-btn {
    min-width: 200px;
}

.inside-select {
    box-sizing: unset;
}

.md-datepicker-input-container {
    width: 100%;
}

._md-datepicker-has-triangle-icon {
    padding: 0px;
    margin: 0px;
}

.decline-btn {
    margin-top: -15px;
}

.md-button.md-esi-pirmais-theme.md-raised.friend-btn:hover {
    background-color: rgb(244,81,30);
    color: #FFF;
}

.user-inside {
    background: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    height: fit-content;
    height: -moz-fit-content;
}

.user-inside .md-button.back {
    position: absolute;
    text-align: left;
    color: #FFF;
    margin: 0;
    min-width: 32px;
    height: 42px;
    padding-top: 8px;
}

.user-photo {
    height: 250px;
    border-radius: 15px;
    background-size: cover;
    margin-top: -3px;
    background-position: top;
}

.main-btn .md-raised {
    margin: 20px 0 0;
    font-weight: normal;
    width: 100%;
}

.btn-friend-action {
    padding-bottom: 25px;
}

.last-login {
    color: #828282;
    padding-left: 14px;
}

.user-informer {
    background: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 14px;
    padding: 7px;
    margin-bottom: 30px;
}

.user-mini {
    width: 50px;    
    text-align: center;    
    display: inline-block;
    margin: 10px;
}

.user-mini a {
    text-decoration: none;
    color: #000;
}

.mb15 {
    margin-bottom: 15px;
}

.changes-button button {
    width: 135px;
}

.circle-photo {
    width: 50px;
    height: 50px;
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .container {
        min-width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1480px) {
    .col-lg-4.right-side {
        display: none;
    }
}

@media (min-width: 1480px) {
    .col-xll-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-4.right-side {
        display: inline-block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}