<div class="default-whiteframe">
    <div class="default-blueframe">
        Visas Spēles
    </div>
    <div class="col-12 match-filters">
        <div class="row">
            <div class="col-12 col-md-4">
                <md-input-container>
                    <label>Sezona</label>
                    <md-select ng-model="filters.season" ng-change="updateMatches()">
                        <md-option ng-value="0">Visas sezonas</md-option>
                        <md-option ng-repeat="season in filterItems.seasons" ng-value="season.Id"  ng-bind="season.Name"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-12 col-md-4">
                <md-input-container>
                    <label>Sacensības</label>
                    <md-select ng-model="filters.tournament" ng-change="updateMatches()">
                        <md-option ng-value="0">Visas sacensības</md-option>
                        <md-option ng-repeat="tournament in filterItems.tournaments" ng-value="tournament.Id" ng-bind="tournament.Name"></md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-12 col-md-4">
                <md-input-container>
                    <label>Komanda</label>
                    <md-select ng-model="filters.team" ng-change="updateMatches()">
                        <md-option ng-value="0">Visas komandas</md-option>
                        <md-option ng-repeat="team in filterItems.teams" ng-value="team.Id" ng-bind="team.Name"></md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="col-12 matches">
        <div class="row match-item" ng-repeat="match in matches">
            <div class="col-0 col-md-1 bold" ng-bind="match.Date"></div>
            <div class="col-4 text-right">
                <div class="row">
                    <div class="col-11" ng-class="{'bold': match.IsWonFirstTeam && !match.IsDraw}" ng-bind="match.FirstTeamName"></div>
                    <div class="col-1 p0">
                        <img ng-src="{{match.FirstTeamLogo}}" />
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-2 match-score">
                <div class="row">
                    <div class="col-5 text-right {{match.IsWonFirstTeam ? 'won' : 'lose'}}" ng-bind="match.FirstTeamScore"></div>
                    <div class="col-2 text-center p0"> - </div>
                    <div class="col-5 text-left {{match.IsWonFirstTeam ? 'lose' : 'won'}}" ng-bind="match.SecondTeamScore"></div>
                </div>
            </div>
            <div class="col-4 text-left">
                <div class="row">
                    <div class="col-1 p0">
                        <img ng-src="{{match.SecondTeamLogo}}" />
                    </div>
                    <div class="col-11" ng-class="{'bold': !match.IsWonFirstTeam && !match.IsDraw}" ng-bind="match.SecondTeamName"></div>
                </div>
            </div>
            <div class="col-1">
                <i class="material-icons" ng-click="getMatchById(match.Id)">remove_red_eye</i>
            </div>
        </div>
        <div class="row no-item" ng-if="!isLoading && matches.length === 0">
            Nav spēļu
        </div>
        <div class="row justify-content-center" ng-if="isLoading">
            <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
        </div>
    </div>   
</div>