<div class="default-whiteframe">
    <div class="default-blueframe">
        <md-button ng-click="stepBack()" class="back">
            <i class="material-icons">
                keyboard_backspace
            </i>
        </md-button>
        <div class="title">Komandas</div>
    </div>
    <div class="col-12">
        <div class="row ptb20" ng-if="!isLoading">
            <div class="col-12 col-md-4">
                <div class="team-logo" style="background-image:url('{{ selectedTeam.LogoUrl }}')"></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row team-info">
                    <div class="col-6 col-md-4">Nosaukums:</div>
                    <div class="col-6 col-md-8">{{ selectedTeam.Name }}</div>
                    <div class="col-6 col-md-4">Disciplīna:</div>
                    <div class="col-6 col-md-8">{{ selectedTeam.DisciplineName }}</div>
                    <div class="col-6 col-md-4">Datums:</div>
                    <div class="col-6 col-md-8">{{ selectedTeam.CreatedDate }}</div>
                    <div class="col-6 col-md-4">Dibinātājs:</div>
                    <div class="col-6 col-md-8">
                        {{ selectedTeam.CreatedBy }} <a title="Pariet" href="/User?Id={{selectedTeam.CreatedById}}" class="material-icons">open_in_new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" ng-if="!isLoading && selectedTeam.CanAssign">
        <md-button class="md-raised md-primary" ng-click="assignTeam(selectedTeam.Id)">Kļūt par īpašnieku</md-button>
    </div>       
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>
<div class="default-whiteframe mt30">
    <div class="col-12" ng-if="!isLoading">
        <div id="columnchart"></div>
    </div>
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>