<div class="default-whiteframe">
    <div class="default-blueframe">
        <md-button ng-click="stepBack()" class="back">
            <i class="material-icons">
                keyboard_backspace
            </i>
        </md-button>
        <div class="title">Spēlētāji</div>
    </div>
    <div class="col-12">
        <div class="row" ng-if="!isLoading && selectedPlayer.Id !== 0">
            <div class="col-12 col-md-4">
                <div class="row player-logo" style="background-image:url('{{ selectedPlayer.Photo }}')"></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row player-info">
                    <div class="col-6 col-md-4">Vārds:</div>
                    <div class="col-6 col-md-8">{{ selectedPlayer.FirstName }}</div>
                    <div class="col-6 col-md-4">Uzvārds:</div>
                    <div class="col-6 col-md-8">{{ selectedPlayer.LastName }}</div>
                    <div class="col-6 col-md-4">Gads:</div>
                    <div class="col-6 col-md-8">{{ selectedPlayer.BirthYear }}</div>
                    <div class="col-6 col-md-4">Lietotājs:</div>
                    <div class="col-6 col-md-8" ng-if="selectedPlayer.UserId !== null">
                        <a href="/User?Id={{selectedPlayer.UserId}}">{{ selectedPlayer.FullName }}</a>
                    </div>
                    <div class="col-6 col-md-8" ng-if="selectedPlayer.UserId === null">
                        Nav lietotāju
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" ng-if="!isLoading && selectedPlayer.Id !== 0 && !selectedPlayer.HasOwner">
        <md-button class="md-raised md-primary" ng-click="assignPlayer(selectedPlayer.Id)">Kļūt par īpašnieku</md-button>
    </div>
    <div class="row justify-content-center no-item" ng-if="!isLoading && selectedPlayer.Id === 0">
        Lietotājs neeksistē
    </div>
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>