<div class="default-whiteframe">
    <div class="default-blueframe">
        Jūsu Spēlētājs
    </div>
    <div class="column justify-content-center col-12">
        <div class="row default-item" ng-if="userPlayer !== null && userPlayer.Id !== 0">
            <div class="col-9 align-self-center">{{ userPlayer.FullName }}</div>
            <div class="col-3 align-self-center text-right">
                <i ng-click="getPlayerById(userPlayer.Id)" class="material-icons">remove_red_eye</i>
            </div>
        </div>
        <div class="alert no-item" ng-if="userPlayer === null || userPlayer.Id === 0">
            Jums nav spēlētāja
        </div>
    </div>
</div>
<div class="default-whiteframe mt30">
    <div class="default-blueframe">
        Visi Spēlētāji
    </div>
    <div class="col-12">
        <div class="row default-item" ng-repeat="player in players">
            <div class="col-1 align-self-center">{{ $index + 1 }}.</div>
            <div class="col-8 align-self-center">{{ player.FullName }}</div>
            <div class="col-3 align-self-center text-right">
                <i ng-click="getPlayerById(player.Id)" class="material-icons">remove_red_eye</i>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!isLoading && players.length === 0">
        <div class="col-12 no-item">Nav spēlētāju</div>
    </div>
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>