<md-content ng-app="EP.Feed" ng-controller="feedCtrl" ng-cloak>
    <md-toolbar id="header">Aktuālais</md-toolbar>
    <md-content class="container">
        <div class="col-12" ng-if="!isLoading">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="default-whiteframe">
                        <div class="default-blueframe">
                            Uzmanīgi!
                        </div>
                        <div class="column col-12">
                            <div class="row">
                                <div class="col-12 no-item">
                                    Если ваша команда уже участвовала в наших турнирах, то скорее всего она уже будет создана.
                                    Не нужно создавать ещё одну команду, вам просто нужно зайти на страничку вашей команды и
                                    нажать кнопку "Привязать". После этого администрация рассмотрит вашу заявку.
                                    <hr />
                                    <br /><br />
                                    <img class="justify-content-center" src="~/Content/img/faq/tm.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="default-whiteframe mt30">
                        <div class="default-blueframe">
                            Pēdējās ziņas
                        </div>
                        <div class="column justify-content-center col-12">
                            <div ng-click="goToNews(news.Id)" class="row page-item" ng-repeat="news in feed.news">
                                <div class="col-8">{{ $index + 1 }}. {{ news.Title }}</div>
                                <div class="col-3 col-sm-4 text-right">{{ news.Date }} </div>
                            </div>
                            <div class="row" ng-if="feed.news.length === 0">
                                <div class="col-12 no-item">Nav ziņas</div>
                            </div>
                        </div>
                    </div>
                    <div class="default-whiteframe mt30">
                        <div class="default-blueframe">
                            Draugiem patīk
                        </div>
                        <div class="justify-content-center col-12">
                            <div ng-click="goToNews(like.Id)" class="row page-item" ng-repeat="like in feed.likes">
                                <div class="col-12"> - <b>{{ like.Who }}</b> {{ like.Action }} <b>«{{ like.Target }}»</b></div>
                            </div>
                            <div class="row" ng-if="feed.likes.length === 0">
                                <div class="col-12 no-item">Draugiem nekas nepatīk</div>
                            </div>
                        </div>
                    </div>
                    <div class="default-whiteframe mt30">
                        <div class="default-blueframe">
                            Draugu komentāri
                        </div>
                        <div class="justify-content-center col-12">
                            <div ng-click="goToNews(comnt.Id)" class="row page-item" ng-repeat="comnt in feed.comments">
                                <div class="col-12"> - <b>{{ comnt.Who }}</b> {{ comnt.Action }} <b>«{{ comnt.Target }}»</b></div>
                            </div>
                            <div class="row" ng-if="feed.comments.length === 0">
                                <div class="col-12 no-item">Nav komentāru</div>
                            </div>
                        </div>
                    </div>
                    <div class="default-whiteframe mt30">
                        <div class="default-blueframe">
                            Draugu draugi
                        </div>
                        <div class="justify-content-center col-12">
                            <div ng-click="goToUser(user.Id)" class="row page-item" ng-repeat="user in feed.users">
                                <div class="col-12"> - <b>{{ user.Who }}</b> un <b>{{ user.Target }}</b> {{ user.Action }} </div>
                            </div>
                            <div class="row" ng-if="feed.users.length === 0">
                                <div class="col-12 no-item">Nav draugu</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 right-side" ng-controller="mainCtrl">
                    @Html.Partial("_RightSide")
                </div>
            </div>
        </div>
        <div class="row justify-content-center" ng-if="isLoading">
            <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
        </div>
    </md-content>
</md-content>

@section JS { @Scripts.Render("~/Bundles/feeds") }