<div class="default-whiteframe ">
    <div class="default-blueframe">
        Dialogs
    </div>
    <div class="column justify-content-center col-12" ng-if="!isLoading">
        <div class="chat-window" id="chat">
            <div ng-repeat="dialog in currentDialog" class="row mt10">
                <div class="col-2 col-md-1 text-center">
                    <div class="dialog-user-photo-min mt10" style="background-image:url('{{ dialog.Photo }}');"></div>
                </div>
                <div class="col-10 col-md-11 p0">
                    <div class="row">
                        <div class="col-12 author-name" ng-bind="dialog.Sender"></div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8" ng-bind="dialog.Text"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="currentDialog.length === 0" class="no-messages">
                Šeit nav isziņas
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <textarea name="Message" placeholder="Jūsu teksts" ng-model="model.message" class="dialog-input" cols="3"></textarea>
            </div>
            <div class="col-1">
                <i ng-click="sentMessage()" class="material-icons send-icon row" ng-hide="model.message === null || model.message.length === 0">send</i>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>