<md-dialog aria-label="Add Value" class="w-25">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Value</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">cancel</i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="addValueForm" ng-cloak>
            <div class="md-dialog-content" layout="column">
                <div class="column">
                    <div class="form-group">
                        <md-input-container class="w-100">
                            <label>Value</label>
                            <input name="value" ng-model="modalData.newValue" required />                            
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>        
    </md-dialog-content>
    <md-dialog-actions layout-gt-xs="row" layout-xs="column" layout-xs-align="center center">
        <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary md-hue-1" ng-disabled="addValueForm.$invalid" ng-click="saveValue()">Save</md-button>
    </md-dialog-actions>
</md-dialog>