<div class="default-whiteframe">
    <div class="default-blueframe">
        <md-button ng-click="returnBackToList()" class="back">
            <i class="material-icons">
                keyboard_backspace
            </i>
        </md-button>
        <div class="title" ng-if="selectedTournament !== null" ng-bind="selectedTournament.Title"></div>
        <div class="title" ng-if="selectedTournament === null">Turnīrs</div>
        <div ng-if="selectedTournament.Id === 0">Kļūda</div>
    </div>
    <div ng-if="selectedTournament.Id > 0" class="col-12">
        <div class="row" ng-if="!isLoading">
            <div class="col-12" ng-class="{'col-md-4': !selectedTournament.HorizontalPoster}">
                <div class="tournament-poster"
                     ng-class="{'horizontal': selectedTournament.HorizontalPoster}" style="background-image:url('{{ selectedTournament.PosterUrl }}')"></div>
            </div>
            <div class="col-12 row tournament-info" ng-class="{'col-md-8': !selectedTournament.HorizontalPoster}">
                <div class="col-6">Nosaukums:</div>
                <div class="col-6" ng-bind="selectedTournament.Title"></div>
                <div class="col-6">Disciplīna:</div>
                <div class="col-6" ng-bind="selectedTournament.Discipline"></div>
                <div class="col-6">Datums:</div>
                <div class="col-6" ng-bind="selectedTournament.Date"></div>
                <div class="col-6">Laukums:</div>
                <div class="col-6" ng-bind="selectedTournament.Place"></div>
                <div class="col-6">Dalības maksa:</div>
                <div class="col-6" ng-bind="selectedTournament.Fee"></div>
                <div class="col-6">Vietas:</div>
                <div class="col-6" ng-bind="selectedTournament.MaxTeamCount"></div>
                <div class="col-6">Dalībnieku skaits:</div>
                <div class="col-6" ng-bind="selectedTournament.TeamCount"></div>
            </div>
        </div>
        <div class="justify-content-center" ng-if="selectedTournament.HasResult">
            <div class="result-table">
                <div class="participant-header mt30">Rezultāti</div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">#</div>
                        <div class="col-2 col-md-1"></div>
                        <div class="col-7 col-md-8">Komanda</div>
                        <div class="col-2">Punkti</div>
                    </div>
                    <div class="row" ng-repeat="result in selectedTournament.Participants | orderBy: 'Place'">
                        <div class="col-1" ng-bind="$index + 1"></div>
                        <div class="col-2 col-md-1 mob-logo">
                            <img ng-src="{{ result.LogoUrl }}" />
                        </div>
                        <div class="col-7 col-md-8" ng-bind="result.Name"></div>
                        <div class="col-2" ng-bind="result.Point"></div>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <div class="participant-header mt30">Vārtu Guvēji</div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">#</div>
                        <div class="col-2 col-md-1"></div>
                        <div class="col-7 col-md-8">Spēlētājs</div>
                        <div class="col-2">Vārtu</div>
                    </div>
                    <div class="row" ng-repeat="goal in selectedTournament.Bombardiers">
                        <div class="col-1" ng-bind="$index + 1"></div>
                        <div class="col-2 col-md-1 text-center">
                            <img ng-src="{{goal.TeamLogo}}" />
                        </div>
                        <div class="col-7 col-md-8" ng-bind="goal.FullName"></div>
                        <div class="col-2" ng-bind="goal.Goals"></div>
                    </div>
                    <div class="row no-item" ng-if="selectedTournament.Bombardiers.length === 0">
                        Nav vārtu guvēju.
                    </div>
                </div>
            </div>
            <div class="matches">
                <div class="participant-header mt30">Spēlēs</div>
                <div class="col-12">
                    <div class="row match-item" ng-repeat="match in selectedTournament.Matches">
                        <div class="col-0 col-md-1 bold" ng-bind="match.Date"></div>
                        <div class="col-4 text-right">
                            <div class="row">
                                <div class="col-11" ng-class="{'bold': match.IsWonFirstTeam && !match.IsDraw}" ng-bind="match.FirstTeamName"></div>
                                <div class="col-1 p0">
                                    <img ng-src="{{match.FirstTeamLogo}}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-md-2 match-score">
                            <div class="row">
                                <div class="col-5 text-right {{match.IsWonFirstTeam ? 'won' : 'lose'}}" ng-bind="match.FirstTeamScore"></div>
                                <div class="col-2 text-center p0"> - </div>
                                <div class="col-5 text-left {{match.IsWonFirstTeam ? 'lose' : 'won'}}" ng-bind="match.SecondTeamScore"></div>
                            </div>
                        </div>
                        <div class="col-4 text-left">
                            <div class="row">
                                <div class="col-1 p0">
                                    <img ng-src="{{match.SecondTeamLogo}}" />
                                </div>
                                <div class="col-11" ng-class="{'bold': !match.IsWonFirstTeam && !match.IsDraw}" ng-bind="match.SecondTeamName"></div>
                            </div>
                        </div>
                        <div class="col-1">
                            <i class="material-icons">remove_red_eye</i>
                        </div>
                    </div>
                    <div class="row no-item" ng-if="selectedTournament.Matches.length === 0">
                        Nav spēļu.
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ptb20">
            <div ng-if="selectedTournament.CanTakePartIn">
                <md-button class="md-raised md-primary" ng-click="takePartIn(selectedTournament.Id)">Nosutīt Pieteikumu</md-button>
            </div>
            <div ng-if="!selectedTournament.CanTakePartIn">
                <span ng-bind="selectedTournament.ErrorMessage"></span>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="participant-header">Dalībnieki ({{ selectedTournament.TeamCount }})</div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" ng-repeat="team in selectedTournament.Participants">
                    <div class="team-card">
                        <div class="team-logo pointer" style="background-image:url('{{ team.LogoUrl }}')" ng-mouseover="showRoster(true, $index)" ng-mouseleave="showRoster(false, $index)"></div>
                        <div ng-class="{'is-paid': team.Paid }" class="team-name" ng-bind="team.Name"></div>
                        <div class="team-roster">
                            <div ng-repeat="player in team.Roster" ng-bind="player.FullName"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center no-item" ng-if="!isLoading && selectedTournament.Id === 0">
        Sacensības netika atrastas
    </div>
    <div class="row justify-content-center" ng-if="isLoading">
        <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
    </div>
</div>