<div class="default-whiteframe">
    <div class="default-blueframe">
        Aktīvie turnīri
    </div>
    <div class="column justify-content-center">
        <div class="default-item tournament-active col-12" ng-repeat="tournament in tournaments.active" ng-class="{'horizontal': tournament.IsHorizontal}">
            <div class="row">
                <div class="col-0 col-sm-3 text-center">
                    <img ng-src="{{ tournament.PosterUrl }}" />
                </div>
                <div class="col-10 col-sm-7">
                    <div class="row">
                        <div class="col-12 tournament-name" ng-bind="tournament.Title"></div>
                        <div class="col-1">
                            <i class="material-icons">calendar_today</i>
                        </div>
                        <div class="col-11">
                            Datums: <b ng-bind="tournament.Date"></b>
                        </div>
                        <div class="col-1">
                            <i class="material-icons">payment</i>
                        </div>
                        <div class="col-11">
                            Dalības maksa: <b ng-bind="tournament.Fee"></b>
                        </div>
                        <div class="col-1">
                            <i class="material-icons">people</i>
                        </div>
                        <div class="col-11">
                            Dalībnieki: {{ tournament.TeamCount }} / <b ng-bind="tournament.MaxTeamCount"></b>
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center text-right">
                    <i ng-click="getTournamentById(tournament.Id)" class="material-icons pointer">remove_red_eye</i>
                </div>
            </div>
        </div>
        <div class="row no-item justify-content-center" ng-if="isLoading">
            <md-progress-circular md-diameter="50px" aria-label="Wait"></md-progress-circular>
        </div>
        <div class="row no-item" ng-if="tournaments.active.length === 0 && !isLoading">
            <div class="col-12 no-item">Tagad nav aktīvo turnīru</div>
        </div>
    </div>
</div>
<div class="default-whiteframe mt30" ng-if="!isLoading">
    <div class="default-blueframe">
        Turnīru arhīvs
    </div>
    <div class="default-item col-12" ng-repeat="tournament in tournaments.inActive">
        <div class="row">
            <div class="col-1 align-self-center text-center mob-logo">
                <img ng-if="tournament.Discipline === disciplines.football" src="~/Content/img/disciplines/football.svg" />
                <img ng-if="tournament.Discipline === disciplines.basketball" src="~/Content/img/disciplines/basketball.svg" />
            </div>
            <div class="col-3 col-sm-2 align-self-center" ng-bind="tournament.Date"></div>
            <div class="col-6 align-self-center" ng-bind="tournament.Title"></div>
            <div class="col-2 col-sm-3 align-self-center text-right">
                <i ng-click="getTournamentById(tournament.Id)" class="material-icons">remove_red_eye</i>
            </div>
        </div>
    </div>
    <div class="row" ng-if="tournaments.inActive.length === 0">
        <div class="col-12 no-item">Arhīvs tukšs!</div>
    </div>
</div>