@using EP.EntityData.Helpers
@using EP.BusinessLogic.Models
@model PageModel

<md-card>
    <md-card-title>
        <md-card-title-text> {{ user.FullName }} </md-card-title-text>
    </md-card-title>
    <md-card-title-media>
        <div class="md-media-md card-media">
            <div style="background-image: url('{{ user.Photo }}')" class="photo-logo"></div>
        </div>
    </md-card-title-media>
    <md-card-actions class="col-12">
        <div class="row">
            <div class="col-6 subhead">Ienāca: {{ user.LastActivyDate }}</div>
            <div class="col-6 action-icons">
                <a title="Pariet" ng-href="/User?Id={{ user.UserId }}" class="material-icons">open_in_new</a>
                @if (Model.ActionType == FriendPageTypeEnum.Friend)
                {
                    <i title="Nodzēst" class="material-icons danger" ng-click="deleteFromFriend(user.UserId, friendsPageType.userFriends)">delete</i>
                }
                else if (Model.ActionType == FriendPageTypeEnum.RequestTo)
                {
                    <i title="Apstiprināt" class="material-icons accept" ng-click="acceptRequest(user.UserId, friendsPageType.userFriends)">check_circle</i>
                    <i title="Atcelt" ng-click="declineRequest(user.UserId, friendsPageType.userFriends)" class="material-icons danger">cancel</i>
                }
                else if (Model.ActionType == FriendPageTypeEnum.RequestFrom)
                {
                    <i title="Atcelt" ng-click="abortRequest(user.UserId, friendsPageType.userFriends)" class="material-icons danger">cancel</i>
                }
                else
                {
                    <i title="Draudzēt" class="material-icons" ng-click="requestToFriend(user.UserId, friendsPageType.userFriends)">person_add</i>
                }
            </div>
        </div>
    </md-card-actions>
</md-card>